* {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif; 
}
.flex-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 100vh;
  font-size: 30px;
  text-align: center;
}
.second-container{
  display: flex;
  flex-direction: row;
  text-align:center;
}
.container {
  padding: 10px;
  border-radius: 0.8rem;
  height: 788px;
  background: #d9d9d9;
  text-align: center;
}
.container > h2 {
  margin-top: -29px;
  padding: 19px;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
button {
  background-color: #b1b1ba;
  width: 310px;
  border: none;
  border-radius: 0.6rem;
  font-size: 27px;
  margin-top: -53px;
  height: 45px;
}
button:hover {
  border: 3px solid black;
}
.scroller {
  height: 658px;
  padding: 20px;
  width: 99.7%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #d9d9d9;
  flex-direction: row;
  margin-top: 9px;
}
.scroller-1 {
  height: 319px;
  padding: 20px;
  width: 99.7%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #d9d9d9;
  flex-direction: row;
  margin-top: 9px;
}
.project-items {
  padding: 13px;
  flex: 50%;
  margin-bottom: 20px;
  background-color: #fff;
  height: 290px;
  border-radius: 0.6rem;
}
.project-items:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  height: 241px;
}
.create-button {
  height: 286px;
  /* width: 353px; */
  border-radius: 0.6rem;
  background: white;
  text-align: center;
}
.create-button > button {
  background-color: #d9d9d9;
  margin-top: -6px;
  font-size: 60px;
  height: 122px;
  border: 3px solid black;
}
.create-button>button:hover{
  border: 6px dotted black;
  font-size: 80px;
}
@media (max-width: 1410px) {
  .flex-container {
    flex-direction: column;
  }
}
@media (max-width: 460px) {
  button {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .product-items {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

@media(max-width:968px){
  .second-container{
    flex-direction: column;
  }
}
@media (max-width: 1410px) {
  .flex-container {
    flex-direction: column;
  }
}
@media (max-width: 460px) {
  button {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .product-items {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

@media(max-width:968px){
  .second-container{
    flex-direction: column;
  }
}
